---
import BaseLayout from "./BaseLayout.astro"

const { frontmatter } = Astro.props
const { title, pubDate, description, author } = frontmatter
---

<BaseLayout pageTitle={title}>
    <p>{pubDate.slice(0,10)}</p>
    <p><em>{description}</em></p>
    <p>Written by: {author}</p>
    <slot />
</BaseLayout>